name: Simple docker build and kubernetes deployment
run-name: Simple docker build and kubernetes deployment by ${{ github.actor }}
on: 
  - push
  - workflow_dispatch

env:
  APP_NAME: simple-nginx-uwu
  APP_TAG: DUMMY
  DOCKER_REGISTRY: ${{ vars.DOCKER_REGISTRY }}

jobs:
  sync-and-setup:
    runs-on: self-hosted
    steps:
      - name: setup host tag using date
        run: echo "APP_TAG_NEW=$(date +'%Y-%m-%d--%H-%M-%S')" >> "$GITHUB_ENV"
      - name: setup github env tag using date
        run: echo "APP_TAG=$(date +'%Y-%m-%d--%H-%M-%S')" >> "$GITHUB_ENV"
      - name: TEST HOST ENV 1
        run: echo $APP_TAG_NEW
      - name: TEST GITHUB ENV 1
        run: echo $APP_TAG
      - name: Check out repository code
        uses: actions/checkout@main
      - name: list directory
        run: ls ${{ github.workspace }} -la
        
  build-push-docker-image:
    runs-on: self-hosted
    needs: sync-and-setup
    steps:
      - name: TEST HOST ENV 2
        run: echo $APP_TAG_NEW
      - name: TEST GITHUB ENV 2
        run: echo $APP_TAG
      - name: Login to private Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.NEXUS_USERNAME }}
          password: ${{ secrets.NEXUS_PASSWORD }}
          registry: ${{ vars.DOCKER_REGISTRY }}
      - run: docker images
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.DOCKER_REGISTRY }}/${{ env.APP_NAME }}:${{ env.APP_TAG}}
      
  kubernetes-deployment:
    runs-on: self-hosted
    needs: build-push-docker-image
    steps:
      - name: TEST HOST ENV 3
        run: echo $APP_TAG_NEW
      - name: TEST GITHUB ENV 3
        run: echo $APP_TAG
      - run: envsubst < deployments/deployment.yaml 
      - run: envsubst < deployments/deployment.yaml | kubectl apply -f -

  manual-post-checking:
    runs-on: self-hosted
    needs: kubernetes-deployment
    steps:
      - name: list directory
        run: ls ${{ github.workspace }} -la
      - run: sleep 20s
      - run: kubectl get pods --selector=app=${{ env.APP_NAME }} --all-namespaces
